#loader {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(110, 107, 103));
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1 {
    color: transparent;
    font-size: 6vw;
    background: linear-gradient(to right, rgb(213, 147, 4), rgb(233, 224, 216));
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}